# C
*.o
*.obj
*.so
*.exe
*.out
*.a
*.dylib
*.dll
*.cproj

# C++
*.cc
*.cpp
*.cxx
*.hpp
*.hh
*.hxx
*.ii
*.ipp
*.inl
*.lib
*.pdb

# 編譯產物
/build/
/bin/
/Debug/
/Release/

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.javadoc
*.project
*.classpath
*.settings/
*.idea/
*.vs/
target/
out/

# JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.env
.vscode/
.DS_Store

# Others
*.swp
*.swo
*.tmp
